.elementor-31 .elementor-element.elementor-element-d65d6e4:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-d65d6e4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../images/Exam-Hallway-1_1.png");
    background-position: top center;
    background-size: cover;
}

.elementor-31 .elementor-element.elementor-element-d65d6e4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-d65d6e4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-17956a1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-31 .elementor-element.elementor-element-17956a1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #94B8C6BF;
}

.elementor-31 .elementor-element.elementor-element-17956a1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-31 .elementor-element.elementor-element-17956a1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-388b36b {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-388b36b .elementor-heading-title {
    color: var(--e-global-color-04b92b5);
    font-size: 65px;
}

.elementor-31 .elementor-element.elementor-element-a41d3c5:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-a41d3c5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../images/Exam-Hallway-1_1.png");
    background-position: bottom center;
    background-size: cover;
}

.elementor-31 .elementor-element.elementor-element-a41d3c5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-a41d3c5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-238d1cd>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-31 .elementor-element.elementor-element-238d1cd>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-c9645a9 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-c9645a9 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 65px;
}

.elementor-31 .elementor-element.elementor-element-c9645a9>.elementor-widget-container {
    background-color: #94B8C6BF;
}

.elementor-31 .elementor-element.elementor-element-2ead886:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-2ead886>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-31 .elementor-element.elementor-element-2ead886 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-31 .elementor-element.elementor-element-2ead886>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-5aa1154 {
    text-align: left;
}

.elementor-31 .elementor-element.elementor-element-5aa1154 img {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: var(--e-global-color-04b92b5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-31 .elementor-element.elementor-element-5aa1154>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-9148554 .elementor-heading-title {
    color: #94B8C6;
}

.elementor-31 .elementor-element.elementor-element-25ae1bb {
    text-align: left;
}

.elementor-31 .elementor-element.elementor-element-25ae1bb .elementor-heading-title {
    color: #E1AF39;
}

.elementor-31 .elementor-element.elementor-element-25ae1bb>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-82abee7:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-82abee7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-82abee7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 45px 0px;
}

.elementor-31 .elementor-element.elementor-element-82abee7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-5c60e92 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-d2328f8 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-775151f {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-4a55562>.elementor-container {
    min-height: 600px;
}

.elementor-31 .elementor-element.elementor-element-4a55562>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-31 .elementor-element.elementor-element-4a55562:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-4a55562>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-4a55562 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 100px 0px;
}

.elementor-31 .elementor-element.elementor-element-4a55562>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-c33f2f4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-31 .elementor-element.elementor-element-c33f2f4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../images/shutterstock_788963941.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-31 .elementor-element.elementor-element-c33f2f4:hover>.elementor-element-populated>.elementor-background-overlay {
    opacity: 0.5;
}

.elementor-31 .elementor-element.elementor-element-c33f2f4>.elementor-element-populated {
    transition: background 0s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-31 .elementor-element.elementor-element-c33f2f4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-3bb3036 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-3bb3036 .elementor-heading-title {
    color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-3bb3036>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: #444444;
}

.elementor-31 .elementor-element.elementor-element-ec04c42:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-31 .elementor-element.elementor-element-ec04c42>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../images/shutterstock_768881602.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-31 .elementor-element.elementor-element-ec04c42:hover>.elementor-element-populated>.elementor-background-overlay {
    opacity: 0.5;
}

.elementor-31 .elementor-element.elementor-element-ec04c42>.elementor-element-populated {
    transition: background 0s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-31 .elementor-element.elementor-element-ec04c42>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-2e7475f {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-2e7475f .elementor-heading-title {
    color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-2e7475f>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: #444444;
}

.elementor-31 .elementor-element.elementor-element-4dcfa91:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-31 .elementor-element.elementor-element-4dcfa91>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../images/shutterstock_1427198897.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-31 .elementor-element.elementor-element-4dcfa91:hover>.elementor-element-populated>.elementor-background-overlay {
    opacity: 0.5;
}

.elementor-31 .elementor-element.elementor-element-4dcfa91>.elementor-element-populated {
    transition: background 0s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-31 .elementor-element.elementor-element-4dcfa91>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-7802303 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-7802303 .elementor-heading-title {
    color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-7802303>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: #444444;
}

.elementor-31 .elementor-element.elementor-element-3f5455c:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-3f5455c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-3f5455c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-31 .elementor-element.elementor-element-3f5455c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-8852727 .elementor-heading-title {
    color: #94B8C6;
}

.elementor-31 .elementor-element.elementor-element-fec6aeb {
    text-align: left;
}

.elementor-31 .elementor-element.elementor-element-fec6aeb .elementor-heading-title {
    color: #E1AF39;
}

.elementor-31 .elementor-element.elementor-element-fec6aeb>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-9a34058 {
    text-align: right;
}

.elementor-31 .elementor-element.elementor-element-9a34058 img {
    width: 90%;
}

.elementor-31 .elementor-element.elementor-element-9a34058>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-e5c7286:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-e5c7286>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-31 .elementor-element.elementor-element-e5c7286 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-31 .elementor-element.elementor-element-e5c7286>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-36103960 {
    text-align: left;
}

.elementor-31 .elementor-element.elementor-element-36103960 img {
    width: 92%;
}

.elementor-31 .elementor-element.elementor-element-36103960>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-ef8b4a2 .elementor-button {
    fill: var(--e-global-color-04b92b5);
    color: var(--e-global-color-04b92b5);
    background-color: var(--e-global-color-c707e5d);
}

.elementor-31 .elementor-element.elementor-element-ef8b4a2 .elementor-button:hover,
.elementor-31 .elementor-element.elementor-element-ef8b4a2 .elementor-button:focus {
    background-color: var(--e-global-color-f84ed1c);
}

.elementor-31 .elementor-element.elementor-element-539e7ef9 .elementor-heading-title {
    color: #94B8C6;
}

.elementor-31 .elementor-element.elementor-element-1fdc6cad {
    text-align: left;
}

.elementor-31 .elementor-element.elementor-element-1fdc6cad .elementor-heading-title {
    color: #E1AF39;
}

.elementor-31 .elementor-element.elementor-element-1fdc6cad>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-c7c5783:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-c7c5783>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-c7c5783 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 050px 0px 100px 0px;
}

.elementor-31 .elementor-element.elementor-element-c7c5783>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-c7c5783 a:hover {
    color: var(--e-global-color-74567c4);
}

.elementor-31 .elementor-element.elementor-element-1a32041 .elementor-heading-title {
    color: #94B8C6;
}

.elementor-31 .elementor-element.elementor-element-06b20db a:hover {
    color: var(--e-global-color-74567c4);
}

.elementor-bc-flex-widget .elementor-31 .elementor-element.elementor-element-af26d2d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-31 .elementor-element.elementor-element-af26d2d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-31 .elementor-element.elementor-element-af26d2d .elementor-element-populated a:hover {
    color: var(--e-global-color-74567c4);
}

.elementor-31 .elementor-element.elementor-element-6eeeab8 {
    --icon-box-icon-margin: 15px;
}

.elementor-31 .elementor-element.elementor-element-6eeeab8 .elementor-icon-box-title {
    margin-bottom: 7px;
    color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-6eeeab8.elementor-view-stacked .elementor-icon {
    background-color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-6eeeab8.elementor-view-framed .elementor-icon,
.elementor-31 .elementor-element.elementor-element-6eeeab8.elementor-view-default .elementor-icon {
    fill: #D7AC47;
    color: #D7AC47;
    border-color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-6eeeab8 .elementor-icon {
    font-size: 20px;
}

.elementor-31 .elementor-element.elementor-element-4c05ad1 .elementor-heading-title {
    line-height: 1.6em;
}

.elementor-31 .elementor-element.elementor-element-2aaaca1 {
    --divider-border-style: solid;
    --divider-color: #B3B3B3;
    --divider-border-width: 1px;
}

.elementor-31 .elementor-element.elementor-element-2aaaca1 .elementor-divider-separator {
    width: 100%;
}

.elementor-31 .elementor-element.elementor-element-2aaaca1 .elementor-divider {
    padding-block-start: 11px;
    padding-block-end: 11px;
}

.elementor-31 .elementor-element.elementor-element-800431c {
    --icon-box-icon-margin: 15px;
}

.elementor-31 .elementor-element.elementor-element-800431c .elementor-icon-box-title {
    margin-bottom: 7px;
    color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-800431c.elementor-view-stacked .elementor-icon {
    background-color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-800431c.elementor-view-framed .elementor-icon,
.elementor-31 .elementor-element.elementor-element-800431c.elementor-view-default .elementor-icon {
    fill: #D7AC47;
    color: #D7AC47;
    border-color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-800431c .elementor-icon {
    font-size: 20px;
}

.elementor-31 .elementor-element.elementor-element-8f4b3a4 .elementor-heading-title {
    line-height: 1.6em;
}

.elementor-31 .elementor-element.elementor-element-4eb1da8 {
    --divider-border-style: solid;
    --divider-color: #B3B3B3;
    --divider-border-width: 1px;
}

.elementor-31 .elementor-element.elementor-element-4eb1da8 .elementor-divider-separator {
    width: 100%;
}

.elementor-31 .elementor-element.elementor-element-4eb1da8 .elementor-divider {
    padding-block-start: 11px;
    padding-block-end: 11px;
}

.elementor-31 .elementor-element.elementor-element-91ca70a {
    --icon-box-icon-margin: 15px;
}

.elementor-31 .elementor-element.elementor-element-91ca70a .elementor-icon-box-title {
    margin-bottom: 7px;
    color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-91ca70a.elementor-view-stacked .elementor-icon {
    background-color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-91ca70a.elementor-view-framed .elementor-icon,
.elementor-31 .elementor-element.elementor-element-91ca70a.elementor-view-default .elementor-icon {
    fill: #D7AC47;
    color: #D7AC47;
    border-color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-91ca70a .elementor-icon {
    font-size: 20px;
}

.elementor-31 .elementor-element.elementor-element-4a3d832 .elementor-heading-title {
    line-height: 1.6em;
}

.elementor-31 .elementor-element.elementor-element-a63380f {
    --divider-border-style: solid;
    --divider-color: #B3B3B3;
    --divider-border-width: 1px;
}

.elementor-31 .elementor-element.elementor-element-a63380f .elementor-divider-separator {
    width: 100%;
}

.elementor-31 .elementor-element.elementor-element-a63380f .elementor-divider {
    padding-block-start: 11px;
    padding-block-end: 11px;
}

.elementor-31 .elementor-element.elementor-element-ee68a20 {
    --icon-box-icon-margin: 15px;
}

.elementor-31 .elementor-element.elementor-element-ee68a20 .elementor-icon-box-title {
    margin-bottom: 7px;
    color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-ee68a20.elementor-view-stacked .elementor-icon {
    background-color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-ee68a20.elementor-view-framed .elementor-icon,
.elementor-31 .elementor-element.elementor-element-ee68a20.elementor-view-default .elementor-icon {
    fill: #D7AC47;
    color: #D7AC47;
    border-color: #D7AC47;
}

.elementor-31 .elementor-element.elementor-element-ee68a20 .elementor-icon {
    font-size: 20px;
}

.elementor-31 .elementor-element.elementor-element-868d619 .elementor-heading-title {
    line-height: 1.6em;
}

.elementor-31 .elementor-element.elementor-element-acaad97 {
    text-align: right;
}

.elementor-31 .elementor-element.elementor-element-acaad97 img {
    width: 90%;
}

.elementor-31 .elementor-element.elementor-element-72b1649 {
    text-align: right;
}

.elementor-31 .elementor-element.elementor-element-72b1649 img {
    width: 90%;
}

.elementor-31 .elementor-element.elementor-element-93af3f4:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-93af3f4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-31 .elementor-element.elementor-element-93af3f4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 075px 0px 80px 0px;
}

.elementor-31 .elementor-element.elementor-element-93af3f4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-1e85862 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-1e85862 .elementor-heading-title {
    color: #94B8C6;
}

.elementor-31 .elementor-element.elementor-element-1e85862>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.66 * 100%);
}

.elementor-31 .elementor-element.elementor-element-7ae005f:after {
    content: "0.66";
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post__thumbnail__link {
    width: 100%;
}

.elementor-31 .elementor-element.elementor-element-7ae005f {
    --grid-column-gap: 30px;
    --grid-row-gap: 35px;
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post__text {
    padding: 0px 10px 10px 10px;
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post:hover .elementor-post__thumbnail img {
    filter: brightness(93%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post__title,
.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post__title a {
    color: #94B8C6;
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post__title {
    margin-bottom: 11px;
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post__excerpt p {
    color: var(--e-global-color-text);
}

.elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post__read-more {
    color: #DBB459;
}

.elementor-31 .elementor-element.elementor-element-dce2b48:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-dce2b48>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-dce2b48 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 50px 0px;
}

.elementor-31 .elementor-element.elementor-element-dce2b48>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-45bc48b {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-45bc48b .elementor-heading-title {
    color: #94B8C6;
}

.elementor-31 .elementor-element.elementor-element-45bc48b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-b882409 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-b882409 .elementor-heading-title {
    color: #E1AF39;
}

.elementor-31 .elementor-element.elementor-element-b882409>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-31 .elementor-element.elementor-element-0398a8e>.elementor-element-populated {
    border-style: solid;
    border-color: var(--e-global-color-c707e5d);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 30px 30px 30px 30px;
}

.elementor-31 .elementor-element.elementor-element-0398a8e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-ee28344 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-ee28344 .elementor-star-rating {
    font-size: 20px;
}

body:not(.rtl) .elementor-31 .elementor-element.elementor-element-ee28344 .elementor-star-rating i:not(:last-of-type) {
    margin-right: 10px;
}

body.rtl .elementor-31 .elementor-element.elementor-element-ee28344 .elementor-star-rating i:not(:last-of-type) {
    margin-left: 10px;
}

.elementor-31 .elementor-element.elementor-element-0fe904f {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-b38fe28>.elementor-element-populated {
    border-style: solid;
    border-color: var(--e-global-color-c707e5d);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 30px 30px 30px 30px;
}

.elementor-31 .elementor-element.elementor-element-b38fe28>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-40e2e61 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-40e2e61 .elementor-star-rating {
    font-size: 20px;
}

body:not(.rtl) .elementor-31 .elementor-element.elementor-element-40e2e61 .elementor-star-rating i:not(:last-of-type) {
    margin-right: 10px;
}

body.rtl .elementor-31 .elementor-element.elementor-element-40e2e61 .elementor-star-rating i:not(:last-of-type) {
    margin-left: 10px;
}

.elementor-31 .elementor-element.elementor-element-1101c93 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-163efc1>.elementor-element-populated {
    border-style: solid;
    border-color: var(--e-global-color-c707e5d);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 30px 30px 30px 30px;
}

.elementor-31 .elementor-element.elementor-element-163efc1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-09b50e4 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-09b50e4 .elementor-star-rating {
    font-size: 20px;
}

body:not(.rtl) .elementor-31 .elementor-element.elementor-element-09b50e4 .elementor-star-rating i:not(:last-of-type) {
    margin-right: 10px;
}

body.rtl .elementor-31 .elementor-element.elementor-element-09b50e4 .elementor-star-rating i:not(:last-of-type) {
    margin-left: 10px;
}

.elementor-31 .elementor-element.elementor-element-fd93a1c {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-bbd3b69>.elementor-element-populated {
    border-style: solid;
    border-color: var(--e-global-color-c707e5d);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 30px 30px 30px 30px;
}

.elementor-31 .elementor-element.elementor-element-bbd3b69>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-155c28a {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-155c28a .elementor-star-rating {
    font-size: 20px;
}

body:not(.rtl) .elementor-31 .elementor-element.elementor-element-155c28a .elementor-star-rating i:not(:last-of-type) {
    margin-right: 10px;
}

body.rtl .elementor-31 .elementor-element.elementor-element-155c28a .elementor-star-rating i:not(:last-of-type) {
    margin-left: 10px;
}

.elementor-31 .elementor-element.elementor-element-1285ed7 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-a934802>.elementor-element-populated {
    border-style: solid;
    border-color: var(--e-global-color-c707e5d);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 30px 30px 30px 30px;
}

.elementor-31 .elementor-element.elementor-element-a934802>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-24aea09 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-24aea09 .elementor-star-rating {
    font-size: 20px;
}

body:not(.rtl) .elementor-31 .elementor-element.elementor-element-24aea09 .elementor-star-rating i:not(:last-of-type) {
    margin-right: 10px;
}

body.rtl .elementor-31 .elementor-element.elementor-element-24aea09 .elementor-star-rating i:not(:last-of-type) {
    margin-left: 10px;
}

.elementor-31 .elementor-element.elementor-element-62412bd {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-efe2695>.elementor-element-populated {
    border-style: solid;
    border-color: var(--e-global-color-c707e5d);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 30px 30px 30px 30px;
}

.elementor-31 .elementor-element.elementor-element-efe2695>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-9f404a4 {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-9f404a4 .elementor-star-rating {
    font-size: 20px;
}

body:not(.rtl) .elementor-31 .elementor-element.elementor-element-9f404a4 .elementor-star-rating i:not(:last-of-type) {
    margin-right: 10px;
}

body.rtl .elementor-31 .elementor-element.elementor-element-9f404a4 .elementor-star-rating i:not(:last-of-type) {
    margin-left: 10px;
}

.elementor-31 .elementor-element.elementor-element-1d22f5f {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-40b3628:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-40b3628>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-40b3628 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-31 .elementor-element.elementor-element-40b3628>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-a811add {
    text-align: center;
}

.elementor-31 .elementor-element.elementor-element-cbdffec {
    --spacer-size: 10px;
}

.elementor-31 .elementor-element.elementor-element-aa7de5e:not(.elementor-motion-effects-element-type-background),
.elementor-31 .elementor-element.elementor-element-aa7de5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-31 .elementor-element.elementor-element-aa7de5e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 100px 0px;
}

.elementor-31 .elementor-element.elementor-element-aa7de5e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-31 .elementor-element.elementor-element-aa7de5e a:hover {
    color: var(--e-global-color-f84ed1c);
}

.elementor-31 .elementor-element.elementor-element-b340b2d {
    --icon-box-icon-margin: 15px;
}

.elementor-31 .elementor-element.elementor-element-b340b2d.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-f84ed1c);
}

.elementor-31 .elementor-element.elementor-element-b340b2d.elementor-view-framed .elementor-icon,
.elementor-31 .elementor-element.elementor-element-b340b2d.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-f84ed1c);
    color: var(--e-global-color-f84ed1c);
    border-color: var(--e-global-color-f84ed1c);
}

.elementor-31 .elementor-element.elementor-element-b340b2d.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-c707e5d);
}

.elementor-31 .elementor-element.elementor-element-b340b2d.elementor-view-framed .elementor-icon:hover,
.elementor-31 .elementor-element.elementor-element-b340b2d.elementor-view-default .elementor-icon:hover {
    fill: var(--e-global-color-c707e5d);
    color: var(--e-global-color-c707e5d);
    border-color: var(--e-global-color-c707e5d);
}

.elementor-31 .elementor-element.elementor-element-7154d92 {
    --icon-box-icon-margin: 15px;
}

.elementor-31 .elementor-element.elementor-element-7154d92.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-f84ed1c);
}

.elementor-31 .elementor-element.elementor-element-7154d92.elementor-view-framed .elementor-icon,
.elementor-31 .elementor-element.elementor-element-7154d92.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-f84ed1c);
    color: var(--e-global-color-f84ed1c);
    border-color: var(--e-global-color-f84ed1c);
}

.elementor-31 .elementor-element.elementor-element-7154d92.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-c707e5d);
}

.elementor-31 .elementor-element.elementor-element-7154d92.elementor-view-framed .elementor-icon:hover,
.elementor-31 .elementor-element.elementor-element-7154d92.elementor-view-default .elementor-icon:hover {
    fill: var(--e-global-color-c707e5d);
    color: var(--e-global-color-c707e5d);
    border-color: var(--e-global-color-c707e5d);
}

.elementor-31 .elementor-element.elementor-element-c0bc896 {
    --icon-box-icon-margin: 15px;
}

.elementor-31 .elementor-element.elementor-element-c0bc896.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-f84ed1c);
}

.elementor-31 .elementor-element.elementor-element-c0bc896.elementor-view-framed .elementor-icon,
.elementor-31 .elementor-element.elementor-element-c0bc896.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-f84ed1c);
    color: var(--e-global-color-f84ed1c);
    border-color: var(--e-global-color-f84ed1c);
}

.elementor-31 .elementor-element.elementor-element-c0bc896.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-c707e5d);
}

.elementor-31 .elementor-element.elementor-element-c0bc896.elementor-view-framed .elementor-icon:hover,
.elementor-31 .elementor-element.elementor-element-c0bc896.elementor-view-default .elementor-icon:hover {
    fill: var(--e-global-color-c707e5d);
    color: var(--e-global-color-c707e5d);
    border-color: var(--e-global-color-c707e5d);
}

@media(max-width:1023px) {
    .elementor-31 .elementor-element.elementor-element-17956a1>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 40px 40px 40px 40px;
    }

    .elementor-31 .elementor-element.elementor-element-238d1cd>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 40px 40px 40px 40px;
    }

    .elementor-31 .elementor-element.elementor-element-82abee7 {
        padding: 40px 40px 40px 40px;
    }

    .elementor-31 .elementor-element.elementor-element-4a55562 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-31 .elementor-element.elementor-element-c7c5783 {
        padding: 40px 40px 40px 40px;
    }

    .elementor-31 .elementor-element.elementor-element-1a32041 {
        text-align: center;
    }

    .elementor-31 .elementor-element.elementor-element-c2ed956 {
        text-align: center;
    }

    .elementor-31 .elementor-element.elementor-element-6eeeab8 .elementor-icon-box-wrapper {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-6eeeab8>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-800431c .elementor-icon-box-wrapper {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-800431c>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-91ca70a .elementor-icon-box-wrapper {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-91ca70a>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-ee68a20 .elementor-icon-box-wrapper {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-ee68a20>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-acaad97 img {
        width: 100%;
    }

    .elementor-31 .elementor-element.elementor-element-72b1649 img {
        width: 100%;
    }

    .elementor-31 .elementor-element.elementor-element-93af3f4 {
        padding: 100px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-31 .elementor-element.elementor-element-388b36b .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-31 .elementor-element.elementor-element-a41d3c5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-c9645a9 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-31 .elementor-element.elementor-element-2ead886 {
        padding: 40px 20px 20px 20px;
    }

    .elementor-31 .elementor-element.elementor-element-25ae1bb {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-82abee7 {
        padding: 20px 20px 20px 20px;
    }

    .elementor-31 .elementor-element.elementor-element-5c60e92 {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-d2328f8 {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-775151f {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-3f5455c {
        padding: 20px 20px 20px 20px;
    }

    .elementor-31 .elementor-element.elementor-element-fec6aeb {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-fec6aeb>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-9a34058 {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-e5c7286 {
        padding: 20px 20px 20px 20px;
    }

    .elementor-31 .elementor-element.elementor-element-1fdc6cad {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-1fdc6cad>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-c7c5783 {
        padding: 020px 20px 20px 20px;
    }

    .elementor-31 .elementor-element.elementor-element-1a32041 {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-c2ed956 {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-6eeeab8 .elementor-icon-box-wrapper {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-800431c .elementor-icon-box-wrapper {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-91ca70a .elementor-icon-box-wrapper {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-ee68a20 .elementor-icon-box-wrapper {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-acaad97>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-72b1649>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-93af3f4 {
        padding: 20px 20px 20px 20px;
    }

    .elementor-31 .elementor-element.elementor-element-7ae005f .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.5 * 100%);
    }

    .elementor-31 .elementor-element.elementor-element-7ae005f:after {
        content: "0.5";
    }

    .elementor-31 .elementor-element.elementor-element-7ae005f .elementor-post__thumbnail__link {
        width: 100%;
    }

    .elementor-31 .elementor-element.elementor-element-dce2b48 {
        padding: 20px 10px 0px 10px;
    }

    .elementor-31 .elementor-element.elementor-element-b882409 {
        text-align: left;
    }

    .elementor-31 .elementor-element.elementor-element-b882409>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-31 .elementor-element.elementor-element-a811add {
        text-align: center;
    }
}

@media(min-width:768px) {
    .elementor-31 .elementor-element.elementor-element-d69b78d {
        width: 25%;
    }

    .elementor-31 .elementor-element.elementor-element-6b71a7c {
        width: 75%;
    }

    .elementor-31 .elementor-element.elementor-element-2b1829a {
        width: 45%;
    }

    .elementor-31 .elementor-element.elementor-element-62d3289 {
        width: 55%;
    }

    .elementor-31 .elementor-element.elementor-element-4d9741a7 {
        width: 45%;
    }

    .elementor-31 .elementor-element.elementor-element-fbd6435 {
        width: 55%;
    }

    .elementor-31 .elementor-element.elementor-element-af26d2d {
        width: 40%;
    }

    .elementor-31 .elementor-element.elementor-element-94dfd9f {
        width: 60%;
    }
}

@media(max-width:1023px) and (min-width:768px) {
    .elementor-31 .elementor-element.elementor-element-c33f2f4 {
        width: 50%;
    }

    .elementor-31 .elementor-element.elementor-element-ec04c42 {
        width: 50%;
    }

    .elementor-31 .elementor-element.elementor-element-4dcfa91 {
        width: 50%;
    }

    .elementor-31 .elementor-element.elementor-element-af26d2d {
        width: 100%;
    }

    .elementor-31 .elementor-element.elementor-element-94dfd9f {
        width: 100%;
    }
}

@media(min-width:1024px) {

    .elementor-31 .elementor-element.elementor-element-d65d6e4:not(.elementor-motion-effects-element-type-background),
    .elementor-31 .elementor-element.elementor-element-d65d6e4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}