.elementor-81 .elementor-element.elementor-element-489c86a:not(.elementor-motion-effects-element-type-background),
.elementor-81 .elementor-element.elementor-element-489c86a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../images/Dental-Exam-Room_1.png");
    background-position: bottom center;
    background-size: cover;
}

.elementor-81 .elementor-element.elementor-element-489c86a>.elementor-container {
    max-width: 900px;
}

.elementor-81 .elementor-element.elementor-element-489c86a>.elementor-background-overlay {
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-81 .elementor-element.elementor-element-489c86a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-81 .elementor-element.elementor-element-b5c5753:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-81 .elementor-element.elementor-element-b5c5753>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #84BBD2B5;
}

.elementor-81 .elementor-element.elementor-element-b5c5753>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 40px 40px 40px;
}

.elementor-81 .elementor-element.elementor-element-b5c5753>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-81 .elementor-element.elementor-element-982cb2c {
    text-align: center;
}

.elementor-81 .elementor-element.elementor-element-982cb2c .elementor-heading-title {
    color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-fd628fa.elementor-arrows-yes .elementor-main-swiper {
    width: calc(95% - 40px);
}

.elementor-81 .elementor-element.elementor-element-fd628fa .elementor-main-swiper {
    width: 95%;
}

.elementor-81 .elementor-element.elementor-element-fd628fa .elementor-main-swiper .swiper-slide {
    padding: 0px 0px 0px 0px;
}

.elementor-81 .elementor-element.elementor-element-fd628fa .elementor-swiper-button {
    font-size: 20px;
}

.elementor-81 .elementor-element.elementor-element-fd628fa .elementor-testimonial__text {
    color: var(--e-global-color-04b92b5);
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
}

.elementor-81 .elementor-element.elementor-element-fd628fa .elementor-testimonial__name {
    color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-fd628fa .elementor-testimonial__title {
    color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-8f909d9>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-8f909d9:not(.elementor-motion-effects-element-type-background),
.elementor-81 .elementor-element.elementor-element-8f909d9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-8f909d9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 25px 0px;
}

.elementor-81 .elementor-element.elementor-element-8f909d9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-81 .elementor-element.elementor-element-8f909d9 .elementor-heading-title {
    color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-4b4d38f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-70e31b3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-70e31b3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-badfe1a>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-81 .elementor-element.elementor-element-badfe1a {
    text-align: center;
}

.elementor-81 .elementor-element.elementor-element-badfe1a .elementor-heading-title {
    font-weight: 300;
    color: #95BCC9;
}

.elementor-81 .elementor-element.elementor-element-5e43e44 {
    text-align: center;
}

.elementor-81 .elementor-element.elementor-element-5e43e44 img {
    width: 80%;
}

.elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-ce61090.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-ce61090.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-81f8d62 .elementor-button {
    background-color: #D7AC47;
    fill: var(--e-global-color-04b92b5);
    color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-81f8d62 .elementor-button:hover,
.elementor-81 .elementor-element.elementor-element-81f8d62 .elementor-button:focus {
    background-color: #BBD1DE;
    color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-81f8d62 .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-81 .elementor-element.elementor-element-81f8d62 .elementor-button .elementor-button-content-wrapper {
    gap: 8px;
}

.elementor-81 .elementor-element.elementor-element-81f8d62 .elementor-button:hover svg,
.elementor-81 .elementor-element.elementor-element-81f8d62 .elementor-button:focus svg {
    fill: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-163e5bc:not(.elementor-motion-effects-element-type-background),
.elementor-81 .elementor-element.elementor-element-163e5bc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-5c52d6f);
}

.elementor-81 .elementor-element.elementor-element-163e5bc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-81 .elementor-element.elementor-element-163e5bc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-f8f1ac9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-f8f1ac9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-f8f1ac9.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-81 .elementor-element.elementor-element-f8f1ac9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-81 .elementor-element.elementor-element-fc67962 {
    width: 100%;
    max-width: 100%;
    text-align: left;
}

.elementor-81 .elementor-element.elementor-element-fc67962>.elementor-widget-container {
    padding: 0px 0px 015px 40px;
}

.elementor-81 .elementor-element.elementor-element-fc67962 img {
    width: 35%;
    filter: brightness(140%) contrast(100%) saturate(94%) blur(0px) hue-rotate(0deg);
}

.elementor-81 .elementor-element.elementor-element-76c108a {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 18px;
    --grid-row-gap: 0px;
}

.elementor-81 .elementor-element.elementor-element-76c108a .elementor-widget-container {
    text-align: left;
}

.elementor-81 .elementor-element.elementor-element-76c108a>.elementor-widget-container {
    padding: 0px 0px 0px 040px;
}

.elementor-81 .elementor-element.elementor-element-76c108a .elementor-social-icon {
    background-color: #333333;
    --icon-padding: 0.8em;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-76c108a .elementor-social-icon i {
    color: #ffffff;
}

.elementor-81 .elementor-element.elementor-element-76c108a .elementor-social-icon svg {
    fill: #78AEC3;
}

.elementor-81 .elementor-element.elementor-element-76c108a .elementor-social-icon:hover {
    background-color: #D7AC47;
}

.elementor-81 .elementor-element.elementor-element-76c108a .elementor-social-icon:hover i {
    color: var(--e-global-color-f23f308);
}

.elementor-81 .elementor-element.elementor-element-76c108a .elementor-social-icon:hover svg {
    fill: var(--e-global-color-f23f308);
}

.elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-6c6189a.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-81 .elementor-element.elementor-element-6c6189a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-81 .elementor-element.elementor-element-6c6189a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-81 .elementor-element.elementor-element-9e25307 a:hover {
    color: var(--e-global-color-f23f308);
}

.elementor-81 .elementor-element.elementor-element-5c6d781 .elementor-heading-title {
    color: #D7AC47;
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-icon i {
    color: var(--e-global-color-04b92b5);
    transition: color 0.3s;
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-icon svg {
    fill: var(--e-global-color-04b92b5);
    transition: fill 0.3s;
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-c707e5d);
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-c707e5d);
}

.elementor-81 .elementor-element.elementor-element-e14e3ee {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-item>a {
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-text {
    color: var(--e-global-color-04b92b5);
    transition: color 0.3s;
}

.elementor-81 .elementor-element.elementor-element-e14e3ee .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #BBD1DE;
}

.elementor-81 .elementor-element.elementor-element-19b224f .elementor-heading-title {
    color: #D7AC47;
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-f23f308);
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-f23f308);
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-81 .elementor-element.elementor-element-aee458b {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-item>a {
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-text {
    color: var(--e-global-color-04b92b5);
    transition: color 0.3s;
}

.elementor-81 .elementor-element.elementor-element-aee458b .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #BBD1DE;
}

.elementor-81 .elementor-element.elementor-element-e66926b .elementor-heading-title {
    color: #D7AC47;
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-2.5px/2);
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-f23f308);
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-f23f308);
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-81 .elementor-element.elementor-element-f852ac5 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-item>a {
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-text {
    color: var(--e-global-color-04b92b5);
    transition: color 0.3s;
}

.elementor-81 .elementor-element.elementor-element-f852ac5 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #BBD1DE;
}

.elementor-81 .elementor-element.elementor-element-5051905:not(.elementor-motion-effects-element-type-background),
.elementor-81 .elementor-element.elementor-element-5051905>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-5c52d6f);
}

.elementor-81 .elementor-element.elementor-element-5051905 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px 0px 2px 0px;
}

.elementor-81 .elementor-element.elementor-element-5051905>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-833440e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-833440e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-81 .elementor-element.elementor-element-833440e.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-81 .elementor-element.elementor-element-833440e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-81 .elementor-element.elementor-element-bd05918 {
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1023px) {
    .elementor-81 .elementor-element.elementor-element-489c86a {
        padding: 40px 40px 40px 40px;
    }

    .elementor-81 .elementor-element.elementor-element-81f8d62>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-f8f1ac9.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-81 .elementor-element.elementor-element-f8f1ac9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-81 .elementor-element.elementor-element-f8f1ac9>.elementor-element-populated {
        padding: 0px 0px 0px 20px;
    }

    .elementor-81 .elementor-element.elementor-element-fc67962 {
        text-align: left;
    }

    .elementor-81 .elementor-element.elementor-element-fc67962 img {
        width: 50%;
    }

    .elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-833440e.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-81 .elementor-element.elementor-element-833440e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-81 .elementor-element.elementor-element-833440e>.elementor-element-populated {
        padding: 0px 0px 0px 20px;
    }
}

@media(max-width:767px) {
    .elementor-81 .elementor-element.elementor-element-489c86a {
        padding: 80px 20px 50px 20px;
    }

    .elementor-81 .elementor-element.elementor-element-982cb2c {
        text-align: center;
    }

    .elementor-81 .elementor-element.elementor-element-fd628fa.elementor-arrows-yes .elementor-main-swiper {
        width: calc(100% - 40px);
    }

    .elementor-81 .elementor-element.elementor-element-fd628fa .elementor-main-swiper {
        width: 100%;
    }

    .elementor-81 .elementor-element.elementor-element-8f909d9 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-81 .elementor-element.elementor-element-badfe1a .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-81 .elementor-element.elementor-element-81f8d62>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-81 .elementor-element.elementor-element-163e5bc {
        padding: 40px 0px 40px 0px;
    }

    .elementor-81 .elementor-element.elementor-element-f8f1ac9>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-81 .elementor-element.elementor-element-fc67962 {
        text-align: center;
    }

    .elementor-81 .elementor-element.elementor-element-fc67962 img {
        width: 50%;
    }

    .elementor-81 .elementor-element.elementor-element-76c108a .elementor-widget-container {
        text-align: center;
    }

    .elementor-81 .elementor-element.elementor-element-76c108a {
        width: 100%;
        max-width: 100%;
    }

    .elementor-81 .elementor-element.elementor-element-76c108a>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-81 .elementor-element.elementor-element-5c6d781 {
        text-align: center;
    }

    .elementor-81 .elementor-element.elementor-element-19b224f {
        text-align: center;
    }

    .elementor-81 .elementor-element.elementor-element-e66926b {
        text-align: center;
    }

    .elementor-81 .elementor-element.elementor-element-5051905 {
        padding: 40px 0px 40px 0px;
    }

    .elementor-81 .elementor-element.elementor-element-833440e>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-81 .elementor-element.elementor-element-70e31b3 {
        width: 45.941%;
    }

    .elementor-81 .elementor-element.elementor-element-6e57f0b {
        width: 18.508%;
    }

    .elementor-81 .elementor-element.elementor-element-ce61090 {
        width: 34.883%;
    }

    .elementor-81 .elementor-element.elementor-element-f8f1ac9 {
        width: 39.999%;
    }

    .elementor-81 .elementor-element.elementor-element-6c6189a {
        width: 59.918%;
    }

    .elementor-81 .elementor-element.elementor-element-c9b2e67 {
        width: 42.604%;
    }

    .elementor-81 .elementor-element.elementor-element-5489a5d {
        width: 23.678%;
    }
}

@media(max-width:1023px) and (min-width:768px) {
    .elementor-81 .elementor-element.elementor-element-70e31b3 {
        width: 100%;
    }

    .elementor-81 .elementor-element.elementor-element-6e57f0b {
        width: 50%;
    }

    .elementor-81 .elementor-element.elementor-element-ce61090 {
        width: 50%;
    }

    .elementor-81 .elementor-element.elementor-element-f8f1ac9 {
        width: 35%;
    }

    .elementor-81 .elementor-element.elementor-element-6c6189a {
        width: 65%;
    }

    .elementor-81 .elementor-element.elementor-element-833440e {
        width: 35%;
    }
}

.elementor-icon-list-text {
    color: #fff !important;
}

.elementor-icon-list-item a {
    color: #fff !important;
}